* {
  margin: auto 0;
  padding: 0;
}

body {
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: blue;
}
.container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-image: url("/img/edu-back.jpg");
}
.header-text {
  margin-top: 250px;
}
.header-text h1 {
  color: #f9ef34;
  font-size: 22px;
}
.home-welcome {
  margin: 0 auto;
  width: 40%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.header-text p {
  width: 60%;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 40px;
}
.header {
  width: 100%;
  height: 700px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.header .title {
  display: flex;
}
.header .title img {
  margin-top: 20px;
  width: 100px;
  margin-left: 10px;
  height: 80px;
}
.header .title h1 {
  margin-left: 20px;
  margin-top: 40px;
  color: white;
  height: 100%;

  font-size: 35px;
}
/* Navbar styles */
.header .nav {
  margin-top: 50px;
  width: 100%;

  background-color: blue;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  color: #fff;
  padding: 10px 0px 10px 0px;
  padding-left: 10%;
  margin-bottom: 20px;
}

/* Menu icon styles */
.menu-icon {
  font-size: 16px;
  cursor: pointer;
  display: none;
}

/* Menu styles */
.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  text-align: left;
  margin-left: 8px;
  margin-right: 8px;
}

.menu li a {
  color: #f9ef34;
  text-decoration: none;
  font-weight: bold;
}

/* Content */

.content {
  width: 100%;
}
.content .vision,
.content .mission {
  width: 80%;

  margin: 0 auto;
}
.content h2 {
  color: #f9ef34;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 20px;
}
.content p {
  margin-top: 10px;
  color: #fff;
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
}
.about {
  margin-top: 20px;
  width: 100%;
  background-color: #fff;
}
.inner-about {
  width: 80%;
  margin: 0 auto;
}
.inner-about h2 {
  text-align: start;
  padding-top: 20px;
}
.inner-about p {
  text-align: justify;
  text-justify: inter-word;
  padding-top: 10px;
  font-size: 18px;
  padding-bottom: 20px;
}
.inner-about img {
  width: 100%;
}
.home-research {
  background-color: #272626;
}
.research-content {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.home-research .footer {
  width: 100%;
  /* background-color: #072e4d; */
  background-color: blue;
  margin: 0 auto;
  display: flex;
  text-align: center;

  justify-content: space-between;
}
.footer img {
  margin-left: 10%;
}
.footer h3 {
  padding-top: 20px;
  color: #fff;
  font-size: 25px;
}
/* .footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 40px;
  width: 30%;
  margin: 0 auto;
} */
.footer .follow {
  margin-right: 10%;
  text-align: start;
}
.footer .follow ul {
  margin-top: 20px;
  display: flex;
  list-style: none;
  margin-left: 20px;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-content ul {
  margin-top: 20px;
  margin-left: 20px;
  list-style: none;
}
.footer-content ul li {
  text-align: start;
}
.footer-content h3 {
  margin-right: 30px;
}
.footer-content ul li h5 {
  font-size: 14px;
  color: #f9ef34;
}
.footer ul li img {
  width: 40px;
}
.footer p {
  color: #fff;
  text-align: start;
  padding-bottom: 20px;
  font-size: 14px;
}
.footer h5 {
  color: #fff;
}

/*For About Page*/
.about-content {
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 300px;
  /* background-color: rgba(0, 0, 0, 0.4); */
}
.about-content .about-left {
  padding: 10px;
  width: 60%;
}
.about-content .about-left h2 {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}
.about-content .about-left h1 {
  font-size: 25px;
  color: #fff;
  margin-top: 20px;
}
.about-content img {
  width: 40%;
  height: 100%;
}
.about-left p {
  color: #fff;
  margin-top: 20px;
}

/*For Education*/

.edu-content {
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 400px;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.edu-content .edu-left {
  background-color: #154c79;
  width: 30%;
  height: 100%;
  text-align: left;
  color: white;
  padding-left: 20px;
}
.edu-content .edu-left h2 {
  margin-top: 10px;
}
.edu-left ul li {
  margin-top: 10px;
}
.edu-left h4 {
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;
  color: red;
}
.edu-left a {
  text-decoration: none;
  background-color: #fff;
  color: #154c79;
  padding: 10px;
  margin-top: 20px;
  border-radius: 4px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
#content1,
#content2,
#content3,
#content4,
#content5,
#content6,
#content7,
#content8 {
  display: none;
  text-align: left;
  margin-left: 40px;
  margin-top: 10px;
  color: #fff;
}
#option-list {
  display: none;
}
#edu-right ul {
  margin-top: 20px;
}
#edu-right ul li {
  margin-bottom: 10px;
}
.edu-content #edu-right {
  width: 70%;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

#edu-right #content {
  display: none;
  margin: 0 auto;
}
#edu-right #content h2 {
  color: #fff;
  font-size: 30px;
  margin-top: 50px;
}
#edu-right #content h3 {
  color: #fff;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
#content .divide {
  display: flex;
  width: 100%;
  margin-top: 50px;
}
.divide .img-container {
  width: 20%;
  height: 100%;
  margin-left: 15px;
  position: relative;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.img-container img {
  width: 100%;
}
/*Our Mission*/
.our-mission {
  display: flex;
  width: 80%;
  margin: 0 auto;

  background-color: rgba(0, 0, 0, 0.4);
}
.o-mission {
  width: 50%;
  height: 100%;
  text-align: start;
  border-right: #fff solid;
  color: #fff;
}
.o-vission {
  margin-top: 0;
  width: 50%;
  height: 100%;
  text-align: start;
  color: #fff;
}
/* .our-mission h2,
p {
  margin: 10px;
} */
.our-mission p {
  font-size: 15px;
}

@media only screen and (max-width: 1204px) and (min-width: 769px) {
  .header .title h1 {
    font-size: 25px;
  }
}
/* Media query for small screens */

@media (max-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    width: 100%;
    height: 220px;
    margin: auto 0;
  }
  .header .title h1 {
    margin-top: 40px;
    color: white;
    font-size: 20px;
  }
  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon.active {
    color: #000;
  }
  .header .nav {
    margin-top: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .navbar {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .menu-icon.active + .menu {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    padding: 10px;
    margin-right: 60%;
  }

  .menu li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .content {
    width: 100%;
    display: block;
    position: relative;
    margin-top: 0;
    height: 500px;
    margin: auto 0;
  }
  .mission {
    width: 100%;
    height: 45%;
    justify-content: center;
    align-items: center;

    background-image: url("/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
  }
  .course-list {
    width: 100%;
    height: 50%;
    margin-top: 4px;
    margin-left: 0;
    background-color: #154c79;
  }
  .course-list .header {
    padding-top: 18px;
  }
  .course-list .header h2 {
    font-size: 16px;
  }

  .mission .text {
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
  }
  .mission ul {
    margin: 10px;
  }
  .mission ul li {
    color: #fff;
    list-style-type: none;
    font-size: 12px;
  }
  .course-list ul {
    margin: 0 20px;
  }
  .course-list ul li {
    list-style-type: none;
    padding: 5px;
    font-size: 14px;
    border-bottom: solid 1px white;
    color: #fff;
  }
  .second-content {
    margin-top: 0;
    height: 700px;
  }
  .second-content .notice-content {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-between;
  }
  .notice-content .notice {
    width: 100%;
    height: 200px;
  }
  .notice-content .notice .list {
    height: 150px;
  }
  .notice-content .news {
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }
  .notice-content .news .list {
    height: 150px;
  }
  .notice-content .platform {
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }

  .third-content ul li {
    background-color: rgba(93, 92, 92, 0.4);
    flex-basis: 40%; /* Adjust this value to control the width of each column */
    margin-bottom: 10px;
    text-align: center;
    margin-top: 4px;
  }
  .third-content ul li h5 {
    font-size: 12px;
  }
  .third-content ul li p {
    font-size: 10px;
  }
  .third-content h4 {
    font-size: 16px;
  }
  .footer ul {
    width: 60%;
  }
  .last-content .contact h3 {
    font-size: 16px;
  }
  .last-content .contact h4 {
    font-size: 14px;
  }
  .last-content .contact ul li h5 {
    font-size: 14px;
  }
  .last-content .contact ul li p {
    font-size: 12px;
  }
  .last-content .contact ul li {
    flex-basis: 40%;
    text-align: center;
  }
  /*For About */
  .about-content {
    width: 100%;
  }
  .about-content .about-left {
    width: 100%;
  }
  .about-content img {
    display: none;
  }
  /*Our Mission*/
  .our-mission {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .o-mission {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    text-align: start;
    border-right: 0px;
    color: #fff;
    border-bottom: #fff dotted 1px;
  }
  .o-vission {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    text-align: start;
    color: #fff;
  }
  .our-mission h2 {
    padding-top: 20px;
  }
  .o-vission p {
    padding-bottom: 10px;
  }

  /*Education*/

  .edu-content {
    display: block;
    padding: 0;
    width: 100%;
    height: 600px;
  }
  .edu-content .edu-left {
    background-color: #154c79;
    width: 100%;
    height: 200px;
    text-align: left;
    color: white;
    padding-left: 0px;
  }
  .edu-content #edu-right {
    width: 100%;
  }
  .edu-content .edu-left h2 {
    display: none;
  }
  .edu-content .edu-left ul {
    text-align: center;
  }
  .edu-content .edu-left ul li {
    text-decoration: underline;
    display: inline-block;
    border: none;
    padding: 0 10px;
  }
  .edu-left #option-list {
    margin-left: 10px;
    display: block;
    margin-top: 20px;
  }
  .edu-left h4 {
    padding-top: 10px;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
    color: red;
    margin-left: 10px;
  }
  .edu-left a {
    text-decoration: none;
    background-color: #fff;
    color: #154c79;
    padding: 4px;
    margin-top: 20px;
    border-radius: 4px;
    margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }
  .divide .img-container {
    display: none;
  }
  #content .divide {
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  #edu-right #content h3 {
    color: #fff;
    text-align: center;
    width: 80%;
    padding: 0;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
  .footer {
    width: 100%;
    /* background-color: #072e4d; */
    background-color: blue;
    margin: 0 auto;
    display: block;
    text-align: center;
    justify-content: center;
  }
  .footer img {
    margin-left: 10%;
    margin-top: 10px;
  }
  .footer h3 {
    padding-top: 20px;
    color: #fff;
    font-size: 25px;
  }
  /* .footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 40px;
    width: 30%;
    margin: 0 auto;
  } */
  .footer .follow {
    margin-right: 0%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
  }
  .footer .follow ul {
    margin-top: 20px;
    display: flex;
    list-style: none;
    margin-left: 0px;
    margin: 0 auto;
  }
  .footer .footer-content {
    display: block;
    justify-content: space-between;
  }
  .footer .footer-content ul {
    margin-top: 20px;
    margin-left: 20px;
    list-style: none;
    margin: 0 auto;
  }
  .footer-content ul li {
    text-align: start;
  }
  .footer-content h3 {
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .footer-content ul li h5 {
    font-size: 14px;
    color: #f9ef34;
  }
  .footer ul li img {
    width: 40px;
  }
  .footer p {
    color: #fff;
    text-align: start;
    padding-bottom: 20px;
    font-size: 14px;
  }
  .footer h5 {
    color: #fff;
  }
}
