* {
  margin: auto 0;
  padding: 0;
}

body {
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-header {
  background-image: url("/img/edu-back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 800px;
}
.header-text {
  margin-top: 250px;
}
.header-text h1 {
  color: #f9ef34;
  font-size: 22px;
}
.home-welcome {
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.header-text p {
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.header {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  text-align: center;
}
.header .title {
  display: flex;
}
.header .title img {
  width: 100px;
  height: 80px;
  margin-top: 20px;
  margin-left: 10px;
}
.header .title h1 {
  height: 100%;
  margin-top: 40px;
  margin-left: 20px;
  color: white;

  font-size: 35px;
}
/* Navbar styles */
.header .nav {
  width: 100%;
  margin-top: 50px;

  background-color: blue;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 0px 10px 0px;
  padding-left: 10%;
  background-color: blue;
  color: #fff;
}

/* Menu icon styles */
.menu-icon {
  display: none;
  font-size: 16px;
  cursor: pointer;
}

/* Menu styles */
.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu li {
  margin-right: 8px;
  margin-left: 8px;
  text-align: left;
}

.menu li a {
  color: #f9ef34;
  font-weight: bold;
  text-decoration: none;
}

/* Content */

.content {
  width: 100%;
}
.content .vision,
.content .mission {
  width: 80%;

  margin: 0 auto;
}
.content h2 {
  margin-top: 20px;
  color: #f9ef34;
  text-align: justify;
  text-justify: inter-word;
}
.content p {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}
.about {
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
}
.inner-about {
  width: 80%;
  margin: 0 auto;
}
.inner-about h2 {
  padding-top: 20px;
  text-align: start;
}
.inner-about p {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}
.inner-about img {
  width: 100%;
}
.home-research {
  background-color: #272626;
}
.research-content {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.home-research .research-content .research {
  width: 50%;
  margin-top: 20px;
}
.research-content .notice {
  width: 50%;
  margin-top: 20px;
}
.research-content h4 {
  color: #f9ef34;
}
.research-content .notice p {
  height: 100%;
  margin-top: 20px;
  padding: 20px 80px 90px 80px;
  background-color: #fff;
  color: #89347e;
  font-size: 30px;
  font-weight: 600;
}
.research-content .research ul {
  display: flex;
  margin-bottom: 10px;
  list-style-type: none;
}
.research-content .research ul li {
  width: 49%;
  margin-right: 10px;

  text-align: start;
}
.research ul li img {
  width: 100%;
  height: 100px;
}
.research ul li h3 {
  color: white;
  font-size: 16px;
}
.disciplines {
  width: 100%;
  margin: 0 auto;
  background-color: aliceblue;
}
.dis-content {
  width: 80%;
  margin: 0 auto;
  color: rgb(19, 19, 79);
  text-align: start;
}
.dis-content .content {
  display: flex;
}
.dis-content h4 {
  padding-top: 10px;
}
.dis-content .content .dis-list {
  width: 50%;
  margin-bottom: 10px;
  padding-left: 40px;
}
.dis-content .content .division {
  width: 50%;
  padding-left: 40px;
}
.dis-content .content {
  margin-top: 10px;
}
.footer {
  display: flex;

  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  /* background-color: #072e4d; */
  background-color: blue;
  text-align: center;
}

.footer img {
  margin-left: 10%;
}
.footer h3 {
  padding-top: 20px;
  color: #fff;
  font-size: 25px;
}
/* .footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 40px;
  width: 30%;
  margin: 0 auto;
} */
.footer .follow {
  margin-right: 10%;
  text-align: start;
}
.footer .follow ul {
  display: flex;
  list-style: none;
  margin-top: 20px;
  margin-left: 20px;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-content ul {
  list-style: none;
  margin-top: 20px;
  margin-left: 20px;
}
.footer-content ul li {
  text-align: start;
}
.footer-content h3 {
  margin-right: 30px;
}
.footer-content ul li h5 {
  color: #f9ef34;
  font-size: 14px;
}
.footer ul li img {
  width: 40px;
}
.footer p {
  padding-bottom: 20px;
  color: #fff;
  font-size: 14px;
  text-align: start;
}
.footer h5 {
  color: #fff;
}

/*For About Page*/
.about-content {
  display: flex;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  /* background-color: rgba(0, 0, 0, 0.4); */
}
.about-content .about-left {
  width: 60%;
  padding: 10px;
}
.about-content .about-left h2 {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
}
.about-content .about-left h1 {
  margin-top: 20px;
  color: #fff;
  font-size: 25px;
}
.about-content img {
  width: 40%;
  height: 100%;
}
.about-left p {
  margin-top: 20px;
  color: #fff;
}

/*For Education*/

.edu-content {
  display: flex;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.edu-content .edu-left {
  width: 30%;
  height: 100%;
  padding-left: 20px;
  background-color: #154c79;
  color: white;
  text-align: left;
}
.edu-content .edu-left h2 {
  margin-top: 10px;
}
.edu-left ul li {
  margin-top: 10px;
}
.edu-left h4 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: red;
  font-size: 16px;
  font-weight: 300;
}
.edu-left a {
  margin-top: 20px;
  padding: 10px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  background-color: #fff;
  color: #154c79;
  text-decoration: none;
  border-radius: 4px;
}
#content1,
#content2,
#content3,
#content4,
#content5,
#content6,
#content7,
#content8 {
  display: none;
  margin-top: 10px;
  margin-left: 40px;
  color: #fff;
  text-align: left;
}
#option-list {
  display: none;
}
#edu-right ul {
  margin-top: 20px;
}
#edu-right ul li {
  margin-bottom: 10px;
}
.edu-content #edu-right {
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#edu-right #content {
  display: none;
  margin: 0 auto;
}
#edu-right #content h2 {
  margin-top: 50px;
  color: #fff;
  font-size: 30px;
}
#edu-right #content h3 {
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
  color: #fff;
  font-size: 20px;
}
#content .divide {
  display: flex;
  width: 100%;
  margin-top: 50px;
}
.divide .img-container {
  position: relative;
  width: 20%;
  height: 100%;
  margin-left: 15px;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.img-container img {
  width: 100%;
}
/*Our Mission*/
.our-mission {
  display: flex;
  width: 80%;
  margin: 0 auto;

  background-color: rgba(0, 0, 0, 0.4);
}
.o-mission {
  width: 50%;
  height: 100%;
  color: #fff;
  text-align: start;
  border-right: #fff solid;
}
.o-vission {
  width: 50%;
  height: 100%;
  margin-top: 0;
  color: #fff;
  text-align: start;
}
/* .our-mission h2,
p {
  margin: 10px;
} */
.our-mission p {
  font-size: 15px;
}

.second-content {
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  margin-bottom: 10px;
}
.second-content h3 {
  color: #fff;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 300;
}
.second-content .notice-content {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  justify-content: space-between;
}
.notice-content .notice {
  border-radius: 4px;
  width: 35%;
  background-color: rgba(109, 127, 240, 0.195);
  height: 240px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.notice-content .notice .list {
  width: 100%;
  overflow: auto;
  height: 200px;
  margin-left: 4px;
  margin-top: 4px;
}
.notice-content .notice .list::-webkit-scrollbar {
  width: 0.5em; /* Set the width of the scrollbar */
}
.notice-content .notice ul {
  text-align: left;
}
.notice ul li {
  padding: 4px;
  margin: 1;
  border-bottom: solid 1px white;
}
.notice ul li h4 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}
.notice ul li p {
  font-size: 12px;
  color: #fff;
  text-align: end;
  font-style: italic;
}
.notice-content .news {
  width: 35%;
  background-color: rgba(93, 92, 92, 0.4);
  height: 240px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.notice-content .news .list {
  width: 100%;
  overflow: auto;
  height: 200px;
  margin-left: 4px;
  margin-top: 4px;
}
.notice-content .news .list::-webkit-scrollbar {
  width: 0.5em; /* Set the width of the scrollbar */
}
.notice-content .news ul {
  text-align: left;
}
.news ul li {
  padding: 4px;
  margin: 4px;
  border-bottom: solid 1px white;
  background-color: #154c79;
}
.news ul li h4 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}
.news ul li p {
  font-size: 12px;
  color: red;
  text-align: end;
  font-style: italic;
}

.notice-content .platform {
  width: 23%;
  background-color: rgba(130, 102, 231, 0.268);
  height: 240px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.notice-content .platform .login-btn {
  padding: 10px;
  width: 50%;
  margin-top: 60px;
  background-color: #154c79;
  color: #fff;
  border-radius: 8px;
}
.third-content {
  margin: 0 auto;
  width: 80%;
}
.third-content h4 {
  font-size: 25px;
  color: #fff;
  text-align: start;
}
.third-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.third-content ul li {
  background-color: rgba(93, 92, 92, 0.4);
  flex-basis: 25%; /* Adjust this value to control the width of each column */
  margin-bottom: 10px;
  text-align: center;
  margin: 1px;
  margin-top: 4px;
}
.third-content ul li img {
  width: 100%;
}
.third-content ul li h5 {
  font-size: 20px;
  color: white;
  text-align: start;
  margin-left: 4px;
}
.third-content ul li p {
  color: #fff;
  text-align: end;
  font-size: 16px;
  margin-right: 4px;
}

@media only screen and (max-width: 1204px) and (min-width: 769px) {
  .header .title h1 {
    font-size: 25px;
  }
}
/* Media query for small screens */

@media (max-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    width: 100%;
    height: 220px;
    margin: auto 0;
  }
  .header .title h1 {
    margin-top: 40px;
    color: white;
    font-size: 20px;
  }
  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon.active {
    color: #000;
  }
  .header .nav {
    width: 100%;
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .menu-icon.active + .menu {
    display: flex;
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    flex-direction: column;
    margin-right: 60%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }

  .menu li {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .content {
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
    margin: auto 0;
    margin-top: 0;
  }
  .mission {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;

    background-image: url("/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
  }
  .course-list {
    width: 100%;
    height: 50%;
    margin-top: 4px;
    margin-left: 0;
    background-color: #154c79;
  }
  .course-list .header {
    padding-top: 18px;
  }
  .course-list .header h2 {
    font-size: 16px;
  }

  .mission .text {
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
  .mission ul {
    margin: 10px;
  }
  .mission ul li {
    color: #fff;
    font-size: 12px;
    list-style-type: none;
  }
  .course-list ul {
    margin: 0 20px;
  }
  .course-list ul li {
    padding: 5px;
    color: #fff;
    font-size: 14px;
    list-style-type: none;
    border-bottom: solid 1px white;
  }
  .second-content {
    height: 700px;
    margin-top: 0;
  }
  .second-content .notice-content {
    display: block;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .notice-content .notice {
    width: 100%;
    height: 200px;
  }
  .notice-content .notice .list {
    height: 150px;
  }
  .notice-content .news {
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }
  .notice-content .news .list {
    height: 150px;
  }
  .notice-content .platform {
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }

  .third-content ul li {
    flex-basis: 40%; /* Adjust this value to control the width of each column */
    margin-top: 4px;
    margin-bottom: 10px;
    background-color: rgba(93, 92, 92, 0.4);
    text-align: center;
  }
  .third-content ul li h5 {
    font-size: 12px;
  }
  .third-content ul li p {
    font-size: 10px;
  }
  .third-content h4 {
    font-size: 16px;
  }
  .footer ul {
    width: 60%;
  }
  .last-content .contact h3 {
    font-size: 16px;
  }
  .last-content .contact h4 {
    font-size: 14px;
  }
  .last-content .contact ul li h5 {
    font-size: 14px;
  }
  .last-content .contact ul li p {
    font-size: 12px;
  }
  .last-content .contact ul li {
    flex-basis: 40%;
    text-align: center;
  }
  /*For About */
  .about-content {
    width: 100%;
  }
  .about-content .about-left {
    width: 100%;
  }
  .about-content img {
    display: none;
  }
  /*Our Mission*/
  .our-mission {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .o-mission {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    color: #fff;
    text-align: start;
    border-right: 0px;
    border-bottom: #fff dotted 1px;
  }
  .o-vission {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    color: #fff;
    text-align: start;
  }
  .our-mission h2 {
    padding-top: 20px;
  }
  .o-vission p {
    padding-bottom: 10px;
  }

  /*Education*/

  .edu-content {
    display: block;
    width: 100%;
    height: 600px;
    padding: 0;
  }
  .edu-content .edu-left {
    width: 100%;
    height: 200px;
    padding-left: 0px;
    background-color: #154c79;
    color: white;
    text-align: left;
  }
  .edu-content #edu-right {
    width: 100%;
  }
  .edu-content .edu-left h2 {
    display: none;
  }
  .edu-content .edu-left ul {
    text-align: center;
  }
  .edu-content .edu-left ul li {
    display: inline-block;
    padding: 0 10px;
    border: none;
    text-decoration: underline;
  }
  .edu-left #option-list {
    display: block;
    margin-top: 20px;
    margin-left: 10px;
  }
  .edu-left h4 {
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 10px;
    color: red;
    font-size: 16px;
    font-weight: 300;
  }
  .edu-left a {
    margin-top: 20px;
    margin-left: 10px;
    padding: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    background-color: #fff;
    color: #154c79;
    text-decoration: none;
    border-radius: 4px;
  }
  .divide .img-container {
    display: none;
  }
  #content .divide {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #edu-right #content h3 {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 50px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  .footer {
    display: block;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    /* background-color: #072e4d; */
    background-color: blue;
    text-align: center;
  }
  .footer img {
    margin-top: 10px;
    margin-left: 10%;
  }
  .footer h3 {
    padding-top: 20px;
    color: #fff;
    font-size: 25px;
  }
  /* .footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 40px;
    width: 30%;
    margin: 0 auto;
  } */
  .footer .follow {
    justify-content: center;
    margin: 0 auto;
    margin-right: 0%;
    text-align: center;
  }
  .footer .follow ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 0px;
  }
  .footer .footer-content {
    display: block;
    justify-content: space-between;
  }
  .footer .footer-content ul {
    list-style: none;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 20px;
  }
  .footer-content ul li {
    text-align: start;
  }
  .footer-content h3 {
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .footer-content ul li h5 {
    color: #f9ef34;
    font-size: 14px;
  }
  .footer ul li img {
    width: 40px;
  }
  .footer p {
    padding-bottom: 20px;
    color: #fff;
    font-size: 14px;
    text-align: start;
  }
  .footer h5 {
    color: #fff;
  }
}
